services:
  server:
    container_name: server
    environment:
      - TZ=Asia/Tokyo
    build:
      context: server
      dockerfile: Dockerfile
      target: dev
    ports:
      - "8686:8686" # application port
      - "2345:2345" # debugger port
    env_file:
      - .env
    volumes:
      - type: bind
        source: server
        target: /app
    depends_on:
      postgres:
        condition: service_healthy
      valkey:
        condition: service_healthy
      rustfs:
        condition: service_healthy
  postgres:
    image: postgres:18@sha256:28bda6d50590658221007b10573830c941b483e9d1a5bc2713a3f60477df8389
    container_name: postgres
    restart: always
    user: postgres
    volumes:
      - type: volume
        source: postgres-data
        target: /var/lib/postgresql
    environment:
      - POSTGRES_DB=scene-hunter
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - TZ=Asia/Tokyo
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
  valkey:
    image: valkey/valkey:9.0.0@sha256:4503e204c900a00ad393bec83c8c7c4c76b0529cd629e23b34b52011aefd1d27
    container_name: valkey
    command: valkey-server --requirepass ${VALKEY_PASSWORD}
    volumes:
      - type: volume
        source: valkey-data
        target: /data
    environment:
      - TZ=Asia/Tokyo
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "valkey-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
  rustfs:
    image: rustfs/rustfs:1.0.0-alpha.66@sha256:8bdaa50a5c0bbbddd19ceb45a613141c0e64e692ddd845810f375292f08fe3d2
    container_name: rustfs
    ports:
      - "9000:9000" # application port
      - "9001:9001" # web ui port
    environment:
      - TZ=Asia/Tokyo
      - RUSTFS_SECRET_KEY=${RUSTFS_PASSWORD}
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/health" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - type: volume
        source: rustfs-data
        target: /data
      - type: volume
        source: rustfs-logs
        target: /logs
  dozzle:
    image: amir20/dozzle:v8.14.7@sha256:ca0e25216d1d934f7b16274b765c853565e7ce8bb7edff26e30177e57c9ba038
    container_name: dozzle
    ports:
      - 8080:8080
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
volumes:
  postgres-data:
  valkey-data:
  rustfs-data:
  rustfs-logs:
