services:
  server:
    container_name: server
    environment:
      - TZ=Asia/Tokyo
    build:
      context: server
      dockerfile: Dockerfile
      target: dev
    ports:
      - "8686:8686"
    volumes:
      - type: bind
        source: server
        target: /app
    depends_on:
      postgres:
        condition: service_healthy
      valkey:
        condition: service_healthy
      rustfs:
        condition: service_healthy
  postgres:
    image: postgres:18
    container_name: postgres
    restart: always
    user: postgres
    volumes:
      - type: volume
        source: postgres-data
        target: /var/lib/postgresql
    environment:
      - POSTGRES_DB=scene-hunter
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - TZ=Asia/Tokyo
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
  valkey:
    image: valkey/valkey:8.1.4
    container_name: valkey
    command: valkey-server --requirepass ${VALKEY_PASSWORD}
    volumes:
      - type: volume
        source: valkey-data
        target: /data
    environment:
      - TZ=Asia/Tokyo
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "valkey-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
  rustfs:
    image: rustfs/rustfs:1.0.0-alpha.66
    container_name: rustfs
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - TZ=Asia/Tokyo
      - RUSTFS_SECRET_KEY=${RUSTFS_PASSWORD}
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/health" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - type: volume
        source: rustfs-data
        target: /data
      - type: volume
        source: rustfs-logs
        target: /logs
  dozzle:
    image: amir20/dozzle:v8.14.4
    container_name: dozzle
    ports:
      - 8080:8080
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
volumes:
  postgres-data:
  valkey-data:
  rustfs-data:
  rustfs-logs:
